<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Prueba Museo UNEG</title>
</head>
<body>
    <h1>¡El Servidor del Museo funciona! 🎨</h1>
    <p>Bienvenido al proyecto de la Profe Herrera.</p>
</body>
</html>